apiVersion: v1
kind: Secret
metadata:
  name: web-gitops-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ argocd_repo_url | quote }}
  username: {{ argocd_repo_username | quote }}
  password: {{ argocd_repo_password | quote }}
  insecure: "true"
